<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Almanaca</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Secure Account Management</h5>
                                <p class="card-text">Store and manage your account details securely in one place.</p>
                                <p class="card-text">Features include:</p>
                                <ul>
                                    <li>Secure password storage</li>
                                    <li>Account number management</li>
                                    <li>Email storage</li>
                                    <li>Additional information storage</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Get Started</h5>
                                <p class="card-text">Create an account to start managing your accounts securely.</p>
                                <div class="d-grid gap-2">
                                    <a href="/users/register" class="btn btn-primary">Register</a>
                                    <a href="/users/login" class="btn btn-secondary">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 